{% extends 'pedidos/index.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="form-group">
    <h1 class="h3 mb-2 text-gray-800"> Editar Mesas</h1>
</div>
<form method="POST" action="{% url 'edt_mesa' mesas_id %}">
    {% csrf_token %}
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="input-group input-group-joined ">
                {% render_field form.numero class="form-control" type="text" placeholder="Ex: Mesa 00" %}
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="input-group input-group-joined">
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}



