{% extends 'pedidos/index.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="row justify-content-center">
        {% for categoria in categorias %}
            <form method="GET">
                <input type="submit" name="categoria" class="btn btn-primary mr-2" value="{{ categoria.categoria }}">
            </form>
        {% endfor %}
    </div>
    {% if produtos %}
        <form method="POST" action="{% url 'realizar_pedido' pedido_id=pedido_ativo.id %}">
            {% csrf_token %}
            <div class="row justify-content-center mr-10">
                {% for produto in produtos %}
                    <div class="col-lg-2 col-md-6 col-sm-12 mr-4">
                        <div class="card-body text-center">
                            <input type="checkbox" class="card-text link-produto" data-id="{{ produto.id }}"
                                   name="produtos" value="{{ produto.id }}">
                            {{ produto.nome_produto }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="input-group input-group-joined">
                        <button type="submit" class="btn btn-primary">Realizar Pedido</button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    <table class="table mb-4">
        <thead>
        <tr>
            <th scope="col">Produto</th>
            <th scope="col">Preço</th>
            <th scope="col">Excluir</th>
            <th scope="col">Comandas</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th scope="col"></th>
            <th scope="col">Total</th>
            <th scope="col">R$ {{ total_pedido }} </th>
        </tr>
        </tfoot>
        <tbody id="tabela-produto">
        {% for produto in produtos_mesa %}
            <tr>
                <td>{{ produto.nome_produto }}</td>
                <td>R$ {{ produto.valor }}</td>
                <td><a href="{% url 'del_pedido' produto.id pedido_ativo.id  %}"><i class="fas fa-trash"></i></a></td>
                <td><a href="{% url 'imprimir_comanda' mesa_id=pedido_ativo.mesa.id pedido_id=pedido_ativo.id %}" class="imprimir-comanda"><i class="fas fa-print"></i></a></td>
                <iframe id="comandaFrame" style="display: none"></iframe>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="input-group input-group-joined ">
                <a href="{% url 'finalizar_mesa' pedido_id=pedido_ativo.id %}"><i class="btn btn-primary">Finalizar Mesa</i></a>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const linksImprimir = document.querySelectorAll(".imprimir-comanda");

            linksImprimir.forEach(function (link) {
                link.addEventListener("click", function (event) {
                    event.preventDefault();  // Impedir o comportamento padrão de seguir o link

                    const url = this.getAttribute("href");  // Obter a URL do atributo href do link

                    const win = window.open(url, '_blank');  // Abrir em uma nova janela

                    if (win) {
                        win.onload = function () {
                            win.print();
                            win.onafterprint = function () {
                                win.close();
                            };
                        };
                    } else {
                        alert("O bloqueio de pop-up pode estar impedindo a impressão. Verifique as configurações do seu navegador.");
                    }
                });
            });
        });
    </script>
{% endblock %}













